# Allow userspace access to the Gigabyte USB-HID keyboard for RGB control
# Install: sudo cp into /etc/udev/rules.d/ then udevadm control --reload-rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="0414", ATTRS{idProduct}=="8105", MODE="0666"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0414", ATTRS{idProduct}=="8105", MODE="0666"
