<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>GigaMate</vendor>
  <vendor_url>https://github.com/goodeesh/GigaMate</vendor_url>

  <action id="org.gigamate.dgpu.control">
    <description>Change the discrete GPU undervolt (V/F offset)</description>
    <message>Authentication is required to change the discrete GPU voltage/frequency offset</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/gigamate/gigamate-dgpu-nvml</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
